@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-orange-600
  }
  a:hover {
    @apply underline
  }
}

.rich-text h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.8rem 0 0.2rem 0;
}
.rich-text h3:first-of-type {
  margin-top: 0;
}
.rich-text p {
  margin-bottom: 0.2rem;
}